.room {
    display: flex;

    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-left: 10px;
}

.image > img {
    width: 200px;
}

.description {
    margin-left: 20px;
}

.description > p {
    color: gray;
}

.extra__information {
    display: flex;
    justify-content: space-between;
}

.extra__information > .rating {
    display: flex;
    
}

.rating > img {
    height: 16px;
    margin-right: 5px;
}